      <!DOCTYPE html>
      <html>
      <head>
        <meta charset="utf-8">
        <title>jimmys testsida</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
      </head>
      <body>
        <header>
          <nav>
            <ul>
              <li><form action="/"><a href="/">hem</a></form></li>
              <li><form action="/kp"><a href="kp">kp</a></form></li>
              <li><form action="/kco"><a href="/kco">kco</a></form></li>
              <li><form action="/recurring"><a href="/recurring">recurring</a></form></li>
              <li><form action="/drivers"><a href="/drivers">f1-tider</a></form></li>
                <label class="switch">
                  <input id="dark-mode-toggle" type="checkbox">
                  <span class="slider"></span>
                </label>
            </ul>
        </header>
        <main>
          <section>
            <h1>kp</h1>
            <article>
              <h2 class="title">create_order</h2><br>
              grattis!! en order har skapats<br>
              <IMG SRC="https://cdn.7tv.app/emote/637272677254849cad17c6f2/4x.avif"><br>
              <b>order_id:</b> {{response_data.order_id}}<br>
            <b>token_id:</b> {{token_response_data.token_id}}
              </article>
          </section>
          <aside>
            <h2>viktiga länkar</h2>
            <ul>
              <li><a href="https://www.vasaloppet.se/vinter/vallaservice/">vallaservice</a></li>
              <li><a href="https://www.youtube.com/watch?v=p6ROh-M7S0k">hur man simmar</a></li>
              <li><a href="https://leffescykel.se/">leffes cyklar</a></li>
              <li><a href="https://enter.lidingoloppet.se/Web/Step1.aspx?EventGroupId=1&CompetitionId=1715">anmälan till lidingöloppet</a></li>
            </ul>
          </aside>
        </main>
        <footer>
          <p>&copy; jimmy jansson hihi</p>
        </footer>
        <script>
          document.addEventListener("DOMContentLoaded", function(event) {
            const toggleButton = document.getElementById('dark-mode-toggle');
            const body = document.body;
            const isDarkMode = localStorage.getItem('dark-mode') === 'true';
          
            if (isDarkMode) {
              body.classList.add('dark-mode');
              toggleButton.checked = true;
            }
          
            toggleButton.addEventListener('click', () => {
              const isDarkMode = toggleButton.checked;
              localStorage.setItem('dark-mode', isDarkMode);
              body.classList.toggle('dark-mode');
            });
          });
              </script>
      </body>
      </html>
      
