<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>jimmys testsida</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
	<header>
		<nav>
			<ul>
        <li><form action="/"><a href="/">hem</a></form></li>
        <li><form action="/kp"><a href="kp">kp</a></form></li>
        <li><form action="/kco"><a href="/kco">kco</a></form></li>
        <li><form action="/recurring"><a href="/recurring">recurring</a></form></li>
			</ul>
	</header>
	<main>
		<section>
			<h1>blablabla</h1>
      <p>testa klarnas produkter på den här sidan</p>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/SPOTIFY_TRACK_ID"  width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <script>
        // List of track IDs
        var trackIds = [
          "3cHyrEgdyYRjgJKSOiOtcS",
          "4QNpBfC0zvjKqPJcyqBy9W",
          "2bJvI42r8EF3wxjOuDav4r",
          "0Hf4aIJpsN4Os2f0y0VqWl",
          "0OPyDgTRuIdCJ9B4bYSths",
          "62zFEHfAYl5kdHYOivj4BC",
          "4Y7XAxTANhu3lmnLAzhWJW",
          "13plQdOoWSSXPRUSZc5FuM",
          "1PCvKFPWnTXAe2oaReVUcr",
          "3rfhI32Il2hVRKDkuGeeen"
        ];
      
        // Select a random track ID from the list
        var randomTrackId = trackIds[Math.floor(Math.random() * trackIds.length)];
      
        // Replace the Spotify widget's track ID with the selected track ID
        var spotifyWidget = document.querySelector("iframe[src^='https://open.spotify.com/embed/track/']");
        var spotifyWidgetSrc = spotifyWidget.getAttribute("src");
        var newSpotifyWidgetSrc = spotifyWidgetSrc.replace("SPOTIFY_TRACK_ID", randomTrackId);
        spotifyWidget.setAttribute("src", newSpotifyWidgetSrc);
      </script>
		</section>
		<aside>
			<h2>viktiga länkar</h2>
			<ul>
				<li><a href="https://www.vasaloppet.se/vinter/vallaservice/">vallaservice</a></li>
				<li><a href="https://www.youtube.com/watch?v=p6ROh-M7S0k">hur man simmar</a></li>
				<li><a href="https://leffescykel.se/">leffes cyklar</a></li>
        <li><a href="https://enter.lidingoloppet.se/Web/Step1.aspx?EventGroupId=1&CompetitionId=1715">anmälan till lidingöloppet</a></li>
			</ul>
		</aside>
	</main>
	<footer>
		<p>&copy; jimmy jansson hihi</p>
	</footer>
</body>
</html>
