<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>jimmys testsida</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
	<header>
		<nav>
			<ul>
        <li><form action="/"><a href="/">hem</a></form></li>
        <li><form action="/kp"><a href="kp">kp</a></form></li>
        <li><form action="/kco"><a href="/kco">kco</a></form></li>
        <li><form action="/recurring"><a href="/recurring">recurring</a></form></li>
			</ul>
	</header>
	<main>
		<section>
      <article>
        <h1 class="title">kco</h1>
            <form action="/kco" method="post"><label for="username">username:</label><input type="text" id="username"
              name="username"><br><br><label for="password">password:</label><input type="password" id="password"
              name="password">
            <br> recurring:<label class="container"><input type="checkbox" name="check" value="true"></label><br><input
              type="Submit" value="create_order"></form>
      </article>
      <article>
        {% if response_data %} <h2 class="title">client_read_pre_purchase</h2> <div id="klarna-checkout-container"></div>
        {% autoescape off %} {{response_data.html_snippet}} {% endautoescape %} {% endif %}
      </article>
    	</section>
		<aside>
			<h2>viktiga länkar</h2>
			<ul>
				<li><a href="https://www.vasaloppet.se/vinter/vallaservice/">vallaservice</a></li>
				<li><a href="https://www.youtube.com/watch?v=p6ROh-M7S0k">hur man simmar</a></li>
				<li><a href="https://leffescykel.se/">leffes cyklar</a></li>
        <li><a href="https://enter.lidingoloppet.se/Web/Step1.aspx?EventGroupId=1&CompetitionId=1715">anmälan till lidingöloppet</a></li>
			</ul>
		</aside>
	</main>
	<footer>
		<p>&copy; jimmy jansson hihi</p>
	</footer>
</body>
</html>
