<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>jimmys testsida</title>
  </head>
  <body>
    <h1>kco</h1>
    <form action="/kco" method="post">
        <label for="username">username:</label>
        <input type="text" id="username" name="username">
        <br><br>
        <label for="password">password:</label>
        <input type="password" id="password" name="password">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    {% if response_data %}
    <div id="klarna-checkout-container"></div>
    {% autoescape off %}
    {{response_data.html_snippet}}
    {% endautoescape %}
    {% endif %}
  </body>
</html>
