<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>jimmys testsida</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
	<header>
		<nav>
			<ul>
        <li><form action="/"><a href="/">hem</a></form></li>
        <li><form action="/kp"><a href="kp">kp</a></form></li>
        <li><form action="/kco"><a href="/kco">kco</a></form></li>
        <li><form action="/recurring"><a href="/recurring">recurring</a></form></li>
			</ul>
	</header>
	<main>
		<section>
			<h1>recurring</h1>
            <article>
                <h2 class="title">skapa en recurring order med token_id</h1>
                    <form action="/recurring" method="post"><label for="username">username:</label><input type="text" id="username"
                        name="username"><label for="password"> password:</label><input type="password" id="password"
                        name="password"><br>
                        <label for="data">order data:<br></label><textarea style="height:200px;width:300px;" type="text" id="data" name="data"></textarea><br>
                        POST /customer-token/v1/tokens/ <input type="text" id="token_id" name="token_id"> /order
                        <input type="Submit" value="create_token_order"></form>
                </form>
                <script>
                    const jsonData = {
            "purchase_country": "SE",
            "purchase_currency": "SEK",
            "order_amount": 5000,
            "order_tax_amount": 1000,
            "order_lines": [
                {
                    "type": "physical",
                    "reference": "123050",
                    "name": "Tomatoes",
                    "quantity": 10,
                    "unit_price": 500,
                    "tax_rate": 2500,
                    "total_tax_amount": 1000,
                    "total_amount": 5000
                },
                        ]
        };
                    const dataField = document.getElementById("data");
                    const formattedJson = JSON.stringify(jsonData, null, 2); // add two spaces for indentation
                    dataField.value = formattedJson;
                  </script>
            </article>
            <article> {% if response_data %}
                <h2 class="title">token_create_order</h2> grattis! du har skapat en prenumrationsorder m order id {{response_data.order_id}}!! {% endif %} 
            </article>
		</section>
		<aside>
			<h2>viktiga länkar</h2>
			<ul>
				<li><a href="https://www.vasaloppet.se/vinter/vallaservice/">vallaservice</a></li>
				<li><a href="https://www.youtube.com/watch?v=p6ROh-M7S0k">hur man simmar</a></li>
				<li><a href="https://leffescykel.se/">leffes cyklar</a></li>
        <li><a href="https://enter.lidingoloppet.se/Web/Step1.aspx?EventGroupId=1&CompetitionId=1715">anmälan till lidingöloppet</a></li>
			</ul>
		</aside>
	</main>
	<footer>
		<p>&copy; jimmy jansson hihi</p>
	</footer>
</body>
</html>
