/* Global styles */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
  background-color: white;
}

a {
  color: #1565c0;
}

a:hover {
  color: #16011a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #444444;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navigation bar */

header {
  background-color: #ffc0cb;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.logo {
  float: left;
  margin-left: 20px;
}

.logo img {
  height: 40px;
}

nav {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 50;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #444444;
}

nav a:hover {
  background-color: #ffdfe5;
  transition: 0.2s;
  border-radius:10px;
}

.search {
  display: inline-block;
  margin-left: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  overflow: hidden;
}

.search input[type="text"] {
  padding: 10px;
  border: none;
  width: 200px;
  font-size: 16px;
  color: #444444;
}

.search button {
  display: inline-block;
  padding: 10px;
  background-color: #cccccc;
  border: none;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.search button:hover {
  background-color: #999999;
}

/* Main content area */

main {
  margin-top: 90px;
  padding: 75px;
  max-width: 750px;
  margin: 0 auto;
}

section {
  margin-bottom: 40px;
}

code {
  font-family: Consolas, monospace;
  font-size: 14px;
}

.error {
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
  }

.header-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  body.dark-mode {
    background-color: #2a2a2a;
    color: rgb(221, 221, 221);
  }

  .dark-mode h1,
  .dark-mode h2 {
    color: rgb(221, 221, 221);
    transition: background-color 0.5s ease;

  }

  .switch {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #0c1b28;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
